.mastercontainer {
  position: absolute;
  left: 30%;
}

.bill {
  text-align: center;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  left: 20;
  position: relative;
  width: 600px;
  height: 100%;
}


.logo {
  padding-top: 50px;
  padding-bottom: 0px;
  width: 250px;
  position: relative;
  left: 0px;
}


.headerinfo {
  padding-top:15px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 50%;
  color: black
}

.productcontainer{
  left: 10%;
  position: relative;
  padding-top: 30px;
  
}


.totalPriceContainer{
  left: 10%;
  position: relative;
  padding-top: 30px;
  padding-bottom: 0px;
  
}

.serviceinfocontainer{
  left: 10%;
  position: relative;
  padding-top: 30px;
  padding-bottom: 0px;
  
}

.product {
  text-align: left;
  position: relative;
  font-size: 16px;
  line-height: 30px;
}

.price {
  right: 20%;
  text-align: right;
  position: absolute;
  font-size: 16px;
}

.totalText {
  text-align: left;
  position: relative;
  font-size: 18px;
  font-weight: bold; 
}

.totalPrice {
  right: 20%;
  text-align: right;
  position: absolute;
  font-size: 18px;
  font-weight: bold; 
}


.momsText {
  text-align: left;
  position: relative;
  font-size: 15px;

}

.momsPrice {
  right: 20%;
  text-align: right;
  position: absolute;
  font-size: 15px;
}



.flex-container {
  display: flex;
  flex-direction: row;
}

.clubtext{
  font-size:18px;
  padding-bottom: 7px;
}

.left{
  position: relative;
  font-size: 14px;
  
  color: black;
}

.bytteinfo {
  font-size: 18px;
}

.club {
  text-align: center;
  padding-top:30px;
  padding-bottom:30px;
  line-height: 30%;
}

.openinghourscontainer {
  text-align: center;
  font-size: 14px;
  line-height: 1%;
  position:relative;
  padding-top:15px;
  left: 35%;
}

.openinghoursheader {
  padding-top:20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 18px;
  position:relative;
  right: 35%;
}


.day{
  display: flex;
  flex-direction: row;
  padding-left: 3%;
}


.openingtime{
  padding-left: 30px;
}


.barcode {
  padding-top: 50px;
  padding-bottom: 30px;
  position: relative;
}

.btn {
  width: 150px;
  height: 60px;  
  position: absolute;
  left: 43%;
  bottom: -10%;

}
