.App {
  text-align: center;
}


.logo {
  padding-top: 30px;
  padding-bottom: 0px;
  width: 200px;
  position: relative;
  left: 0px;
}

.stregkode {
  padding-top: 30px;
  padding-bottom: 0px;
  position: relative;
}



.product {
  left: 10px;
  text-align: left;
  position: relative;
  font-size: 12px;
}

.price {
  right: 14px;
  text-align: right;
  position: absolute;
  font-size: 12px;
}

.btn {
  width: 150px;
  height: 60px;  
  position: absolute;
  top:90%;
  left:50%;
}

.totalText {
  left: 10px;
  text-align: left;
  position: relative;
  font-size: 14px;
  font-weight: bold; 
}

.totalPrice {
  right: 14px;
  text-align: right;
  position: absolute;
  font-size: 14px;
  font-weight: bold; 
}

.momsText {
  left: 10px;
  text-align: left;
  position: relative;
  font-size: 10px;

}

.momsPrice {
  right: 14px;
  text-align: right;
  position: absolute;
  font-size: 10px;
}

.headerinfo {
  padding-top:15px;
  padding-bottom: 15px;
  font-size: 12px;
  line-height: 50%;
  color: black
}


.products {
  padding-top:6px;
  padding-bottom:6px;
  border-top: 1px dashed grey;
  border-bottom: 1px dashed grey;
}


.flex-container {
  display: flex;
  flex-direction: row;
}

.right {
 position: absolute;
 left: 60%
}


.footerinfo{
  padding-left: 10px;
  padding-top:20px;
  font-size: 12px;
  line-height: 130%;
  color: black;
  text-align: left;
}


.club {
  text-align: center;
  padding-top:30px;
  padding-bottom:30px;
  line-height: 30%;
}

.openinghourscontainer {
  text-align: center;
  font-size: 12px;
  line-height: 1%;
  position:relative;
  padding-top:20px;
}


.day{
  display: flex;
  flex-direction: row;
  padding-left: 3%;
}


.openingtime{
  padding-left: 30px;
}
